

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(81, 131, 131);
  padding: 0.8rem;
}

img[data-todo-type="header-logo"] {
  width: 50px;
  height: 50px;
}

.todo-app.theme-dark {
  background-color: black;
  color: #fff;
}

.todo-card {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%);
  margin: 1rem;
  padding: 1rem;
  transition: box-shadow 0.5s ease-in-out;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
}

.todo-card:hover, .todo-card:focus {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.5s ease-in-out;
}

.todo-app.theme-dark .todo-card {
  color: #000;
  background-color: #fff;
}

.right{
  display: grid;
  justify-content: right;
}

.stats-card {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.stats-card .card{
  margin: 1rem;
  width: 20%;
  background-color: rgb(30, 95, 133);
  color: #fff;
} 

button {
  padding: 0.5rem;
  margin: 0.25rem;
}

button[type="submit"]{
  background-color: #1f1fa8;
  color: #fff;
  font-weight: bold;
}
button[type="submit"]:hover{
  background-color: #17177e;
  font-weight: bold;
}
button[type="cancel"]{
  background-color: #fff;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
}

.todo-list .todo-card {
  flex: 1 0 25%; 
  max-width: calc(25% - 4rem - 2px);
}

.card-actions  {
  text-align: left;
}
.card-actions  div{
  display:inline-block;
  left: 0;
  right: 0;
  padding-right: 10%;
}

.card-section-wrapper {
  padding: 20px;
}

.card-block {
  display: grid;
  width: calc(100% / 3);
  max-width: 33.3%;
}


@media(max-width: 767px) {
  .card-block {
    width: 100%;
    flex: 1 0 100%;
    max-width: 100%;
    /* margin: 0 0 1rem; */
  }
  .stats-card {
    flex-direction: column;
  }
  .stats-card span.card {
    width: 100%;
    flex: 1 0 100%;
    max-width: 100%;
    margin: 0 0 1rem;
  }

  .todo-list {
    flex-direction: column;
    margin: 1rem;
  }
  
  .todo-list .todo-card {
    flex: 1 0 100%; 
    max-width: 100%;
    margin: 0 0 1rem;

  }
}



